<mat-toolbar class="custom-toolbar">
    <span>{{mytext_app}}</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button id="left_action" (click)="actionScreen02left()">
        {{mytext_left}}
    </button>
    <button mat-button id="right_action" (click)="actionScreen02right()">
        {{mytext_right}}
    </button>
</mat-toolbar>
<br><br><br><br>
<div class="div_message" id="div_autorizando" hidden="hidden">{{mytext_autorizando}}</div>
<div class="div_message" id="div_autorizado_ok">{{mytext_autorizadoOk}}</div>
<div class="div_message" id="div_autorizado_error">{{mytext_autorizadoError}}</div>
<br><br>
<span class="span-custom">{{mytext_threePhotos}}</span>
<br>
<span class="span-custom">{{mytext_firstPhotoIs}}</span>
<br>
<span class="span-custom">{{mytext_secondPhotoIs}}</span>
<br>
<span class="span-custom">{{mytext_thirdPhotoIs}}</span>
<br>
<span class="span-custom">{{mytext_fourCornersOfSheet}}</span>
<br>
<span class="span-custom">{{mytext_fourCornersOfSheetBis}}</span>
<br><br><br>
<span class="span-custom2">{{mytext_selectFoot}}</span>
<br>
<span class="span-custom2">{{mytext_firstMobileInLandscape}}</span>
