<mat-toolbar class="custom-toolbar">
    <span>{{mytext_app}}</span>
    <span class="example-fill-remaining-space"></span>
    <button *ngIf="!flagRepeat" mat-button id="action_measurements" (click)="actionMeasurements()">
        {{mytext_actionMeasurements}}
    </button>
    <button *ngIf="flagRepeat" mat-button id="action_repeat" (click)="actionRepeat()">
        {{mytext_repeat}}
    </button>
</mat-toolbar>
<br><br><br><br>
<div class="div_message" id="div_reconstruction_wait" hidden="hidden">{{mytext_reconstructionWait}}</div>
<div class="div_message" id="div_reconstruction_ok">{{mytext_reconstructionOk}}</div>
<div class="div_message" id="div_reconstruction_error">{{mytext_reconstructionError}}</div>
<br><br>
<span class="span-custom">{{mydata_response_error_code}}</span>
<br>
<span class="span-custom">{{mydata_response_sheet_eval}}</span>
<br>
<span class="span-custom">{{mydata_response_info}}</span>
<br>
<span class="span-custom">{{mydata_response_quality}}</span>
<br><br><br>
<span class="span-custom2">{{mydata_response_request_code}}</span>
<br>
<span class="span-custom2">{{mydata_log_action}}</span>
