<mat-toolbar *ngIf="isTaken" class="custom-toolbar">
    <span>{{mytext_sideTop}}</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button style="color:white" (click)="repeatTop()">
        {{mytext_repeat}}
    </button>
    <button mat-button style="color:white" (click)="confirmTop()">
        {{mytext_confirm}}
    </button>
</mat-toolbar>


<div *ngIf="isTaking" class="custom-div-helperB">
    <img *ngIf="isRight" class="custom-img-helperB" src="assets/images/helper02.png" />
    <img *ngIf="isLeft" class="custom-img-helperB" src="assets/images/helper05.png" />
</div>


<div *ngIf="isTaking" id="div_vid_pose2" class="custom-div-pose2">
    <button id="btphoto_pose2a" class="custom-img-btphoto2a" (click)="clickPhoto2a()"><img src="assets/images/btphoto.png"/></button>
    <video id="vid_pose2" autoPlay="true" muted="true" playsInline="true"></video>
    <button id="btphoto_pose2b" class="custom-img-btphoto2b" (click)="clickPhoto2b()"><img src="assets/images/btphoto.png"/></button>
</div>

<br><br><br><br>


<div id="div_thecanvas2" class="custom-div-canvas2">
    <canvas id="thecanvas2landscape" width="800" height="600" class="custom-canvas2"></canvas>
</div>