<!-- <mat-toolbar *ngIf="isPortrait" class="custom-toolbar"> -->
<mat-toolbar class="custom-toolbar">
    <span>{{mytext_app}}-24</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button (click)="toScreen02es()">{{mytext_es}}</button>
    <button mat-button (click)="toScreen02en()">{{mytext_en}}</button>
</mat-toolbar>
<br><br><br><br><br><br>
<!-- <span class="span-custom">{{mytext_app}}</span> -->
 <div class="custom-div-splash">
    <img class="custom-img-splash" src="assets/images/splash.png" />
 </div>
<br><br><br>
<span class="span-custom">{{mytext_selectLanguage01}}</span>
<br><br>
<span class="span-custom">{{mytext_input}}</span>

