.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. Every toolbar row uses a
       flexbox row layout. */
    flex: 1 1 auto;
}


.custom-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }


table {
    width: 80%;
    margin-left: 20rem auto;
    margin-right: 20rem auto;
    background-color: lightgray;
 }

 .mat-column-meas-id {
    width: 30%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
 }

 .mat-column-meas-val {
    width: 50%;
    text-align: left;
    font-size: 17px;
 }
