<mat-toolbar class="custom-toolbar">
    <span>{{mytext_app}}</span>
    <span class="example-fill-remaining-space"></span>
    <button *ngIf="!flagSomeAvailable" mat-button style="color:white" id="action_back" (click)="actionBack()">
        {{mytext_back}}
    </button>
    <button *ngIf="flagSomeAvailable" mat-button style="color:white" id="action_continue" (click)="actionContinue()">
        {{mytext_continue}}
    </button>
</mat-toolbar>
<br><br><br><br><br>
<div class="custom-div-centered-bold">
    <mat-label>{{mytext_dataCodeDate}}</mat-label>
</div>
<div class="custom-div-centered">
    <img class="custom-img-line" src="assets/images/lineh.png" />
</div>
<div class="div_message" id="div_autorizando" hidden="hidden">{{mytext_autorizando}}</div>
<div class="div_message" id="div_autorizado_ok" hidden="hidden">{{mytext_autorizadoOk}}</div>
<div class="div_message" id="div_autorizado_error" hidden="hidden">{{mytext_autorizadoError}}</div>
<br><br>
<div class="div_message" id="div_availablel" hidden="hidden">{{mytext_availablel}}</div>
<div class="div_message" id="div_availablel_ok" hidden="hidden">{{mytext_availablelOk}}</div>
<div class="div_message" id="div_availablel_error" hidden="hidden">{{mytext_availablelError}}</div>
<br><br>
<div class="div_message" id="div_availabler" hidden="hidden">{{mytext_availabler}}</div>
<div class="div_message" id="div_availabler_ok" hidden="hidden">{{mytext_availablerOk}}</div>
<div class="div_message" id="div_availabler_error" hidden="hidden">{{mytext_availablerError}}</div>
<br><br>
