.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. Every toolbar row uses a
       flexbox row layout. */
    flex: 1 1 auto;
}


.custom-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 400;
  }


  .div_message {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.custom-div-centered{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.custom-div-centered-bold{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-weight: bold;
}

.custom-img-line {
  width: 480px;
  height: 60px;
}