<mat-toolbar class="custom-toolbar">
    <span>{{mytext_app}}</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button style="color:white" (click)="toNewScan()">{{mytext_newScan}}</button>
    <button mat-button style="color:white" (click)="toWeb()">Web</button>
</mat-toolbar>
<br><br><br><br>
<div class="div_message" id="div_recommend_wait" hidden="hidden">{{mytext_recommendWait}}</div>
<div class="div_message" id="div_recommend_ok">{{mytext_recommendOk}}</div>
<div class="div_message" id="div_recommend_error">{{mytext_recommendError}}</div>
<br><br>
<span class="span-custom">{{mydata_error_code}}</span>
<br>
<span class="span-custom">{{mydata_request_code}}</span>
<br>
<span class="span-custom">{{mydata_recommend_code}}</span>
<br><br><br>
<span class="span-custom">{{mytext_tallaDePie}}</span>
<br>
<span class="span-custom-log">{{text_log_recommend}}</span>
<br>
<span class="span-custom">{{mytext_paraElProducto}}</span>
<br>
<span class="span-custom2">{{text_log2_recommend}}</span>
