.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. Every toolbar row uses a
       flexbox row layout. */
    flex: 1 1 auto;
}


.custom-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 400;
  }


.div_message {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}


.span-custom{
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: block;
  }
.span-custom2{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: block;
  }

  .span-custom-log{
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    display: block;
    background-color: #ecec;
  }